@media (min-width: 768px) {
/* style to main body */
body {
    margin: 1vh 20vh;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }
  /* style the container */
  .container {
    background-color: rgb(49, 109, 187);
    height: 45%;
    padding: 5%;
    margin: 10%;
    width: 45%;
    position: absolute;
  }
  /* styled the inner container with the flex box  */
  .inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 149, 210);
    color: black;
    margin: 8%;
    height: 40vh;
    position: relative;
  }
  /* styles top bar  */
  .top-bar {
    margin: -5vh -7vh;
  }
  /* styled the highscores class */
  .highscores {
    float: left;
    margin: 20px;
  }
  /* styles timerstyle class */
  .timerstyle {
    float: right;
    margin: 20px;
    font-weight: bold;
  }
  /* styled main content */
  main {
    margin-top: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* styled the header */
  header {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  /* styled paragraph of the main */
  main p {
    font-size: 20px;
    line-height: 2em;
    padding: 1.5em;
    display: flex;
    justify-content: center;  
  }
  /* styled the button */
  .quiz-button {
    font-size: 26px;
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  /* styled the button hover */
  .quiz-button:hover {
    background-color: rgb(49, 109, 187);
    color: black;
}
/* styled the id content button  */
#content button {
    display: block;
    margin: 10px 10px;
    padding: 20px;
    background-color: rgb(10, 37, 71);
    color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
    width: 200px;
}

}